nav span {
  font-size: 45px;
}

nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", sans-serif;
  position: fixed;
  z-index: 1000;
}

nav i {
  font-size: 18px;
  margin-bottom: 2em;
  color: red;
}

nav .writeNewTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
}

nav .writeNewTweet span {
  font-weight: 600;
  font-size: 24px;
}

nav .writeNewTweet p {
  margin: 0.5em;
}

nav button {
  background: none;
  border: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 4em;
  padding-bottom: 1em;
  cursor: pointer;
}

